recorder 0          recorder select: 0->our amf recorder   1->Itron ipc recorder(tw) 2->stagefright recorder  3->pv recorder  4->media recorder 2
1,1,0,0,1,0,3,0,0   !!!fliter select: use active_pb_engine, use active_record_engine, use general decoder, use private audio decoder, encoder, use ffmpeg muxer2, error code's log record level(0:NoError, 1:Warning, 2:Recoverable, 3:Fatal), use Native SEG-Fault handler, enable Overlay
0,0,0,1,3,2,1,1,1,0,0,0   disable audio, disable video, disable subtitle, enable avsync, vout config(bit0 LCD, bit1 HDMI), ppmode, ReConfigMode(default 1, mode 0 is not ready), enable AR(auto ratio), enable quick avsync(wake vout quickly, drop audio data if needed), not config audio, not config video, set_vout_frame_rate
4,4,4,4,2,2,1  decoding mode(1: SW, 2: Hybird, 4: HW)
1,1,1,1,0,0  de-interlace related(enable,init_tff,lu_en,ch_en,osd_en,deint_mode)
3,5,16,2,4  de-interlace params(spatial_shift,lowpass_shift,lp_center_height,hor_height,ver_hight)
15,15,10,6,-4 de-interlace params(gradient_bias,predient_bias,candidate_bias,spatial_score_bias,temporal_score_bias)
1,0,0,0  error handling(enable, error_concealment_mode, error_concealment_buffer_id), app behavior(debug use)
4,0,0,0,0,0,1,1    debug use: hybird mpeg4 input buffer number, ffmpeg decoder selection, force_decode, validation_only, force low delay, use general decoder, USEQ/UPES header, pridata parser(0 disable,1 use parser filter, 2 not use filter)
0,0x3f,0,0,0,0,0,7,1     feature constrains: enable, codec_mask, h264_no_fmo, no LCD, no HDMI, no deinterlacer, always disable l2 cache,max_frm_number,noncachable_buffer
0,1       deblocking flag, pquant mode, pquan table blow:
0,1,2,3,4,5,6,7                      pquant table[0-7]
8,9,10,11,12,13,14,15           pquant table[8-15]
16,17,18,19,20,21,22,23       pquant table[16-23]
24,25,26,27,28,29,30,31       pquant table[24-31]
some parameters with string:
0,0                                     force play item, purge buffers before play rtsp streaming
[rtsp://10.0.0.2/stream_0]    force play item's [url]
enable color test
color test:8
0xeb8080ff
0x108080ff
0xd21092ff
0xaaa610ff
0x913622ff
0x6acadeff
0x515af0ff
0x29f06eff
//white, black, yellow, cyan, green, magenta, red, blue

detailed:
line2(filter selection)
    use active_pb_engine, use active_record_engine, use general decoder, use private audio decoder, encoder, use ffmpeg muxer2, error code's log record level(if ucode error code level >= this value, record it)
line3(basic config):
    disable audio, disable video, vout config:bit0 LCD;bit1 HDMI,
    ppmod config: ring_buffer_chunk_number|mod_select, chunk number valid range [2,10], mode 1 render by filter,mode 2 render by DSP
line4(video decoding type config):
    bit0 SW, bit1 Hybird(SW+DSP), bit2 HW(DSP).
    MPEG12, MPEG4, H264, VC-1(WMV3), RV40, not-standard MPEG4, others
line5-7(de-interleace related parameters)
line8 (error handling/concealment)
    enable,concealment_mode,concealmrnt_buffer_id,app_behavior(0:default, 1:always try STOP(0))
line9 (debug use):
    hybird mpeg4 input buffer number, ffmpeg decoder selection, force_decode(0: disable,1:enable), validation_only(0: disable,1:enable), force low delay, use general decoder
line10-14 (deblocking related):
    deblocking related, flag, mode, and pquant table

