recorder 0          recorder select: 0->our amf recorder   1->Itron ipc recorder(tw) 2->stagefright recorder  3->pv recorder  4->media recorder 2
1,1,0,0,1,0,3,0,0       !!!fliter select: use active_pb_engine, use active_record_engine, use general decoder, use private audio decoder, encoder, use ffmpeg muxer2, error code's log record level(0:NoError, 1:Warning, 2:Recoverable, 3:Fatal), use Native SEG-Fault handler, enable overlay
1,1,0,1,0,0,2          enable video, enable audio, enable subtitle, enable private data, enable private(gps data), enable private(amba trickplay data), number of muxer
1,1,0,1,1,0             enable streaming feature, cut file with precise pts, dsp not start encoding, enable video streaming, enable audio streaming, auto start rtsp streaming
0,0,0,0,0,0,0             muxer dump video, dump audio, dump pridata, muxer skip video data, muxer skip audio data, muxer skip private data, not check video resolution
1,1,1                  use itron filter, video from itron, audio from itron
stream 0(main stream):
mp4,h264,aac,cavlc     container format, video format, audio format, entropy type(cabac/cavlc)
1920,1080           video: width, height
2,48000,[s16]         audio: channals, sample rate, sample_format
10000000,128000   video bit rate, audio bit rate
90000,3003,0      video frame rate num,den, video low delay
1,15,4                M, N, IDR Interval
stream 1(sub stream):
mp4,h264,aac,cavlc     container format,video format, audio format, entropy type(cabac/cavlc)
320,240             video: width, height
2,48000,[s16]        audio: channals, sample rate, sample_format
2000000,128000   video bit rate, audio bit rate
90000,3003,0      video frame rate num,den, video low delay
1,15,4                M, N, IDR Interval
duplex init config:
2,1280,720,1     DSP mode(camera recoding: 2, duplex: 5), main window width, main window height, total encoding stream number
1280,720,0,0     initial main stream size/offset
cavlc             entropy type(cabac/cavlc)
8000000           video enc bit rate
1,15,2            M, N, IDR Interval
320,240             secondary stream size
1,1                   duplex max encoding stream number, max decoding stream number
1,1,0                   playback display enabled, playback vout index, display in pip
1280,720,0,0      initial playback display size/offset
1,1,1,240           initial preview enabled, vout index, in pip, alpha value
320,180,0,0             initial preview size/offset
rawdata related
1,320,240            previewC width, height
1280,720,0,0    previewC crop source width,height,offset_x,offset_y
thumbnail related
0,480,272        thumbnail enable, width, height
0,320,240        dsp piv enable, jpeg width, jpeg height
rtsp streaming server related
554,20022        (server)rtsp listenning port, rtp/rtcp port start
low dramt traffic mode config
0      disable WARP and MCTF

